data/raw_data
data/copy_model
data/model/nb_weight

myanimelist/

.ipynb_checkpoints

instance/
.webassets-cache

.DS_Store

__pycache__/

glove.6B/

glove.6B.zip

nb_weight.csv

frontend/node_modules

frontend/dist

frontend/public/images