.center {
    width: 60%;
    margin: auto
}

.form__search-bar {
    display: block;
    height: 2rem;
    width: 50%;
    margin: 10rem auto 0;
    border-radius: 1rem;
    padding: 0.5rem;
}

.form__submit-button {
    display: block;
    height: 3rem;
    width: 20%;
    margin: auto;
    background-color: white;
    color: rgb(77, 77, 255);
    border-color: rgb(77, 77, 255);
    border-radius: 2rem;
}

.form__submit-button:hover {
    cursor: pointer;
}

.result {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__genre {
    display: inline-block;
    width: 10%;
    margin: 1rem;
    background-color: rgb(105, 105, 223);
    border-radius: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
}