<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Search</title>
</head>
<body>
    <div class = "center">
        <form method="post" class="form">
            <input class="form__search-bar" textarea="text" name="synopsis" placeholder="Type your story in here" 
            value="{{request.form['synopsis']}}"></input>
            <br>
            <button class="form__submit-button" type="submit">Submit</button>
        </form> 
        <div class="result">
            {% for genre in genres %}
                <div class="result__genre">
                    {{genre}}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>